html {
  --primary-color: #845ec2;
  --secondary-color: #b39cd0;
  --text-primary-color: #fbeaff;
  --text-secondary-color: #00c9a7;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  height: 150vh; /* viewport heights */
text-align: center;
background: #C2714F !important;
}

h1 {
  color: #802392;
  font-size: 52px;
  text-decoration: underline;
  text-align: center;
  text-shadow: 1.5px 2px 1px #111;
}
/* You want to make this an id.  */
#main-block {
  position: absolute;
  top: 1200px;
  right: 50px;
  color: #F6C5AF;
  font-size: 30px;
  text-shadow: 1.5px 2px 1px #111;
}
h2 {
  color: #60992D;
  text-align: center;
  font-size: 40px;
  text-shadow: 2.5px 3px 2px #802392;
}
#last-block {
  position: absolute;
  top: 1500px;
  color: #802392;
  text-align: center;
  font-size: 40px;
  text-shadow: 2.5px 2px 1px #C2714F;
}

h3 {
  color: #802392;
  text-shadow: 1.5px 2px 1px #60992D;
}

/*.container-1 div{
padding-left: 20px;
}

.list-items{
  margin: 2.5% 0 2.5% 0;
  padding-right: 10px;
  }
.list-items-2{
  padding-right: 10px;
*/

h4 {
  color: #60992D;
  text-shadow: 1.5px 2px 1px #130316;
  font-size: 32px;
}
